
#bgCanvas {
    position: fixed;
		width: 100%;
}

.wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
}

.content-wrapper {
    width: 920px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
}
