body {
	font-family: 'Cinzel Decorative', serif;
}

#bgCanvas {
    position: relative;
		overflow: hidden;
		/* width: 100%; */
		/* height: 100%; */
}

.wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
		height: 100%;
}

.content-wrapper {
		height: 100%;
		background-color: #fff;
}

.cubes {
	height: 100%;
	background-color: #fff;
	text-align: center;
	font-size: 1.6em;
	font-weight: bolder;
}

.cube {
	height: calc(100% / 3);
	background-color: rgb(218, 218, 218);
}
.cube a {
	text-decoration: none;
	color: #25307E;
}

.homecube {
	background-color: rgb(240, 240, 240);
}

.colorcube {
	background-color: rgb(117, 183, 173);
}

.introcube {
	background-color: rgb(128, 60, 153);
	color: rgb(164, 126, 178);
}

.photocube {
	background-color: rgb(35, 56, 122);
}

.photocube a {
	color: rgb(164, 126, 178);
}

.contactcube {
	background-color: rgb(164, 126, 178);
}

div {
	color: #25307E;
}

.icon {
	font-weight: normal;
}
